* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/Gym.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.5);
  z-index: 0;
}

body > * {
  position: relative;
  z-index: 1;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 20px 10px;
  color: white;
}

.right-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffcc00;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-top: -10px;
}

.title svg {
  fill: #ffcc00;
  width: 80px;
  height: auto;
  margin-top: -20px;
}

.last-name {
  color: #ffcc00;
}

.middle-container {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 60px;
  font-weight: 500;
}

.first-txt {
  position: absolute;
  top: 50px;
}

.second-txt {
  position: absolute;
  top: 120px;
}

.last-container {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
}

.goal1 {
  position: absolute;
  top: 130px;
}

.goal2 {
  position: absolute;
  top: 165px;
}

.btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 420px;
  left: 0;
  right: 0;
  margin: auto;
  gap: 15px;
}

.get-started {
  color: white;
  background-color: #ffcc00;
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid white;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.learn-more {
  color: white;
  background-color: black;
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid white;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.get-started:hover {
  color: #002244;
  border-color: black;
}

.learn-more:hover {
  color: #ffa500;
  border-color: #ffa500;
}

a.active {
  color: #ffcc00;
  font-size: 16px;
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;
}
